.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background: #024e76; /* Blue shade hover */
}
