<nav class="bg-black p-4 h-16 fixed w-full top-0 z-50" style="background-image: url('../resources/img/Fondo 3.jpg');">
    <div class="container mx-auto flex justify-between items-center h-full ">
        <!-- Logo -->
        <% if(TipoUsuario === 'Mod') {%>
            <a href="#" class="text-white font-bold text-lg flex items-center">
                <img src="../resources/img/Logito.png" alt="Logo" width="50px" height="50px">
                EduShare <span class="text-gray-500 font-normal">(Moderador)</span>
            </a>            
        <% } else { %>
            <a href="#" class="text-white font-bold text-lg flex items-center">
                <img src="../resources/img/Logito.png" alt="Logo" width="50px" height="50px">
                EduShare
            </a>
        <% } %>

        <!-- Barra de búsqueda -->
        <form class="w-1/3">
            <input type="text" id="Busqueda" class="bg-gray-200 border-2 border-gray-300 py-2 px-4 rounded-lg w-full" placeholder="Buscar...">
        </form>
        
        

        <!-- Información del perfil -->
        <div class="relative">
            <!-- Información del perfil -->
            <div class="flex items-center cursor-pointer" id="profileMenuToggle">
                <span class="text-white mr-4"><%= name %></span>
                <img src="../<%= photo %>" alt="Avatar" class="rounded-full h-10 w-10 border-2 border-white">
            </div>
            <% if(TipoUsuario === 'Mod') {%>
                <!-- Menú desplegable -->
            <div id="profileMenu" class="absolute right-0 mt-2 bg-white border border-gray-300 rounded-md py-2 w-48 hidden">
                <a href="../login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cambio de cuenta</a>
                <a href="../logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar Sesión</a>
                <!-- Agrega más opciones según sea necesario -->
            </div>         
            <% } else { %>
                <!-- Menú desplegable -->
            <div id="profileMenu" class="absolute right-0 mt-2 bg-white border border-gray-300 rounded-md py-2 w-48 hidden">
                <a href="../login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cambio de cuenta</a>
                <a href="../perfil/<%= IdUser %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Mi perfil</a>
                <a href="../logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar Sesión</a>
                <!-- Agrega más opciones según sea necesario -->
            </div>
            <% } %>
            
        </div>
        
    </div>
</nav>

<script>
    // Obtener el elemento del botón de alternancia del menú
    const profileMenuToggle = document.getElementById('profileMenuToggle');
    
    // Obtener el menú desplegable
    const profileMenu = document.getElementById('profileMenu');
    
    // Alternar la visibilidad del menú al hacer clic en el botón de alternancia
    profileMenuToggle.addEventListener('click', function() {
        profileMenu.classList.toggle('hidden');
    });
</script>


<script>
    $(document).ready(function() {
  $('#Busqueda').on('input', function() {
    const searchTerm = $(this).val();

    $.ajax({
      url: '/BusquedaBarra',
      type: 'GET',
      data: { Busqueda: searchTerm },
      success: function(response) {
        if (response.resultados) {
          displaySearchResults(response.resultados);
        } else {
          console.error('Error al obtener resultados de búsqueda');
        }
      },
      error: function(error) {
        console.error('Error al realizar la solicitud AJAX:', error);
      }
    });
  });
});

// function displaySearchResults(results) {
//   // Limpiar el contenedor de resultados
//   $('#SearchResults').html('');

//   // Mostrar cada resultado de búsqueda
//   results.forEach(function(result) {
//     const listItem = $('<li>');
//     listItem.text(result.Titulo); // Adaptar según el nombre del campo
//     $('#SearchResults').append(listItem);
//   });
// }

function displaySearchResults(results) {
  // Limpiar el contenedor de resultados
  $('#SearchResults').html('');

  // Mostrar cada resultado de búsqueda
  results.forEach(function(result) {
    // Crear el contenedor del resultado
    const resultContainer = $('<section class="bg-gray-100 py-8">');
    const innerContainer = $('<div class="container mx-auto overflow-y-auto">');
    const maxContainer = $('<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg relative">');
    
    // Agregar el enlace al perfil
    const profileLink = $('<a>').attr('href', '/perfil/' + result.EstudianteID);
    const profileInfo = $('<div class="text-gray-400 absolute top-0 left-0 mt-2 ml-2">');
    const profileText = $('<p>');
    if (result.Usuario === name) {
      profileText.append('<span class="font-bold">Tú</span>');
    } else {
      profileText.append('<span class="font-bold">' + result.Usuario + '</span>');
    }
    profileText.append('<span class="italic">' + new Date(result.Fecha).toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) + '</span>');
    profileInfo.append(profileText);
    profileLink.append(profileInfo);
    maxContainer.append(profileLink);
    innerContainer.append(maxContainer);
    resultContainer.append(innerContainer);
    
    // Agregar el contenido principal
    const mainContent = $('<div class="p-6">');
    mainContent.append('<h4 class="text-xl font-semibold text-gray-800">' + result.Titulo + '</h4>');
    mainContent.append('<p class="text-gray-700 mt-2">' + result.Descripcion + '</p>');
    const fileTypeIcon = result.TipoArchivo === '.pdf' ? 'bx bxs-file-pdf text-2xl text-red-600' : (result.TipoArchivo === '.docx' ? 'bx bxs-file-doc text-2xl text-red-600' : 'bx bx-file-find text-2xl text-yellow-500');
    const fileIcon = $('<i class="' + fileTypeIcon + '">');
    const fileName = $('<span id="file-name" class="text-gray-600">' + result.ReNombre + '</span>');
    const fileContainer = $('<div class="relative w-full">');
    const fileButton = $('<div id="custom-file-button" class="bg-white border border-gray-300 rounded-md py-2 px-4 w-full flex items-center">');
    fileButton.append(fileIcon);
    fileButton.append(fileName);
    fileContainer.append(fileButton);
    mainContent.append(fileContainer);
    
    // Agregar los botones de acción
    const actionButtons = $('<div class="mt-4 flex justify-between text-xl items-center">');
    const buttonGroup = $('<div class="flex items-center space-x-4">');
    const likeButton = $('<button class="likeButton focus:outline-none">');
    likeButton.append('<i class="likeIcon bx bx-like text-gray-600 hover:text-blue-500"></i>');
    buttonGroup.append(likeButton);
    buttonGroup.append('<a href="commentary/' + result.PublicacionID + '" class="focus:outline-none"><i class="bx bx-comment text-gray-600 hover:text-blue-500"></i></a>');
    const downloadButton = $('<button class="focus:outline-none">');
    downloadButton.append('<a href="' + result.RutaArchivo + result.TipoArchivo + '" target="_blank"><i class="bx bx-cloud-download"></i></a>');
    buttonGroup.append(downloadButton);
    actionButtons.append(buttonGroup);
    mainContent.append(actionButtons);
    
    // Agregar el contenido principal al contenedor del resultado
    maxContainer.append(mainContent);
    
    // Agregar el contenedor del resultado al contenedor de resultados
    $('#SearchResults').append(resultContainer);
  });
}



</script>