<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
</head>
<body class="bg-cover-center bg-white h-screen flex flex-col">

    <%if(login) {%>
        <!-- Barra de navegación -->
        <nav class="bg-black p-4 h-16 fixed w-full top-0 z-50" style="background-image: url('../resources/img/Fondo 3.jpg');">
            <div class="container mx-auto flex justify-between items-center h-full ">
                <!-- Logo -->
                <% if(TipoUsuario === 'Mod') {%>
                    <a href="#" class="text-white font-bold text-lg flex items-center">
                        <img src="../resources/img/Logito.png" alt="Logo" width="50px" height="50px">
                        EduShare <span class="text-gray-500 font-normal">(Moderador)</span>
                    </a>            
                <% } else { %>
                    <a href="#" class="text-white font-bold text-lg flex items-center">
                        <img src="../resources/img/Logito.png" alt="Logo" width="50px" height="50px">
                        EduShare
                    </a>
                <% } %>
        
                <!-- Barra de búsqueda -->
                <form class="w-1/3">
                    <input type="text" id="Busqueda" class="bg-gray-200 border-2 border-gray-300 py-2 px-4 rounded-lg w-full" placeholder="Buscar...">
                </form>
                
                
        
                <!-- Información del perfil -->
                <div class="relative">
                    <!-- Información del perfil -->
                    <div class="flex items-center cursor-pointer" id="profileMenuToggle">
                        <span class="text-white mr-4"><%= name %></span>
                        <img src="../<%= photo %>" alt="Avatar" class="rounded-full h-10 w-10 border-2 border-white">
                    </div>
                    <% if(TipoUsuario === 'Mod') {%>
                        <!-- Menú desplegable -->
                    <div id="profileMenu" class="absolute right-0 mt-2 bg-white border border-gray-300 rounded-md py-2 w-48 hidden">
                        <a href="../login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cambio de cuenta</a>
                        <a href="../logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar Sesión</a>
                        <!-- Agrega más opciones según sea necesario -->
                    </div>         
                    <% } else { %>
                        <!-- Menú desplegable -->
                    <div id="profileMenu" class="absolute right-0 mt-2 bg-white border border-gray-300 rounded-md py-2 w-48 hidden">
                        <a href="../login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cambio de cuenta</a>
                        <a href="../perfil/<%= IdUser %>" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Mi perfil</a>
                        <a href="../logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cerrar Sesión</a>
                        <!-- Agrega más opciones según sea necesario -->
                    </div>
                    <% } %>
                    
                </div>
                
            </div>
        </nav>
        
        <script>
            // Obtener el elemento del botón de alternancia del menú
            const profileMenuToggle = document.getElementById('profileMenuToggle');
            
            // Obtener el menú desplegable
            const profileMenu = document.getElementById('profileMenu');
            
            // Alternar la visibilidad del menú al hacer clic en el botón de alternancia
            profileMenuToggle.addEventListener('click', function() {
                profileMenu.classList.toggle('hidden');
            });
        </script>
        
        
        
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <style>
            /* Aquí puedes agregar tus estilos */
            .hidden {
              display: none;
            }
          </style>
        <aside class="fixed top-16 left-0 h-full w-1/4 bg-black p-4 z-50" style="background-image: url('../resources/img/Fondo 3.jpg');">
            <h2 class="text-lg font-semibold text-white mb-4">Menú</h2>
            <ul class="divide-y divide-gray-200">
                <li>
                    <a href="../" class="flex items-center justify-between hover:bg-gray-50 transition duration-150 ease-in-out py-2 px-4 text-base text-white no-underline">
                        <span><i class='bx bx-home' style='color:#ffffff'></i> Inicio</span>
                    </a>
                </li>
                
                <% if(TipoUsuario === 'Mod') {%>
                    <li>
                        <a href="#" id="Boton" class="flex items-center justify-between hover:bg-gray-50 transition duration-150 ease-in-out py-2 px-4 text-base text-white no-underline">
                            <span><i class='bx bxs-group'></i> Solicitudes</span>
                        </a>
                        <!-- Menú inicialmente oculto -->
                        <div id="MenuDesplegable" class="flex flex-col bg-white rounded-lg shadow-md p-4 w-1/2 z-10 hidden">
                            <a href="../to-do" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300">Pendientes</a>
                            <a href="../rechazados" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300">Rechazados</a>
                        </div>        
                    </li>
                    <a href="#" id="Boton9" class="flex items-center justify-between hover:bg-gray-50 transition duration-150 ease-in-out py-2 px-4 text-base text-white no-underline">
                        <span><i class='bx bxs-shield-x' style='color:#ffffff'  ></i> Reportes</span>
                    </a>
                    <!-- Menú inicialmente oculto -->
                    <div id="MenuDesplegable9" class="flex flex-col bg-white rounded-lg shadow-md p-4 w-1/2 z-10 hidden">
                        <a href="../reportes" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300">Pendientes</a>
                        <a href="#" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300">Aceptados</a>
                    </div>        
                </li>
                    <li>
                        <a href="../users" class="flex items-center justify-between hover:bg-gray-50 transition duration-150 ease-in-out py-2 px-4 text-base text-white no-underline">
                            <span><i class='bx bxs-group'></i> Usuarios</span>
                        </a>
                    </li>
                <% } else if(TipoUsuario === 'User') { %>
                    <li>
                        <a href="../upload" class="flex items-center justify-between hover:bg-gray-50 transition duration-150 ease-in-out py-2 px-4 text-base text-white no-underline">
                            <span><i class='bx bx-cloud-upload' style='color:#ffffff' ></i> Subir</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="Boton" class="flex items-center justify-between hover:bg-gray-50 transition duration-150 ease-in-out py-2 px-4 text-base text-white no-underline">
                            <span><i class='bx bx-book-content' style='color:#ffffff' ></i> Mis Publicaciones</span>
                        </a>
                        <div id="MenuDesplegable" class="flex flex-col bg-white rounded-lg shadow-md p-4 w-1/2 z-10 hidden">
                            <a href="../file" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300 text-blue-600"><i class="bx bx-time"></i>En Espera</a><br>
                            <a href="../AceptadosUser" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300 text-green-600"><i class="bx bx-check-circle"></i>Aceptados</a>
                            <a href="../RechazadosUser" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300 text-red-600"><i class="bx bx-x-circle"></i>Rechazado</a>
                        </div>
                    </li>               
                <% } %>
            </ul>
        </aside>
        
        
        <script>
            // Obtener el botón y el menú
            var boton = document.getElementById('Boton');
            var menu = document.getElementById('MenuDesplegable');
          
            // Función para alternar la visibilidad del menú
            boton.onclick = function() {
              if (menu.style.display === 'block') {
                menu.style.display = 'none';
              } else {
                menu.style.display = 'block';
              }
            };
          </script>
          <!-- <script>
            // Obtener el botón y el menú
            var boton9 = document.getElementById('Boton4');
            var menu9 = document.getElementById('MenuDesplegable4');
          
            // Función para alternar la visibilidad del menú
            boton9.onclick = function() {
              if (menu9.style.display === 'block') {
                menu9.style.display = 'none';
              } else {
                menu9.style.display = 'block';
              }
            };
          </script> -->
        <!-- Contenido principal -->